{
  "email_to": [
    "recipient1@example.com",
    "recipient2@example.com"
  ],
  "email_from": "your-gmail@gmail.com",
  "smtp_server": "smtp.gmail.com",
  "smtp_port": 587,
  "smtp_password": "your-16-char-app-password"
}

